<b><em> <h1 style = "background-color:Tomato;"> Welcome to Argioligazolistrombolizambonioli's Pizzaria</em></b></h1>
<style>
body {
    background-image: url("https://d3lawkbdj6aabd.cloudfront.net/singleplatform/image/upload/c_fit/095b2fda40625fbd7a0710500279835b37ee7221.jpg");;
    color:white;
}
</style>
<% if instorepickup == "no" %>
	<% pizza.each do |pizaz|%> 
		A <%= pizaz[0] %> pizza on a <%= pizaz[1] %> crust, with <%= pizaz[2].join %>, <%= pizaz[3].join %>, 
		<% pizaz[4].each do |toppings| %>
			<% if toppings == pizaz[4].last %>
				<%= toppings.insert(0, 'and ') %>
			<% elsif toppings != pizaz[4].last && toppings != pizaz[4][0]  %>
				<%= toppings += ", " %>
			<% else %>
				<%= toppings + ", " %>
			<%end%>
		<%end%>
		<br>
	<%end%>
			will be delivered to <%= address.join %> <br>
	<% else %>
	<% pizza.each do |pizaz|%> 
		A <%= pizaz[0] %> pizza on a <%= pizaz[1] %> crust, with <%= pizaz[2].join %>, <%= pizaz[3].join %>, 
		<% pizaz[4].each do |toppings| %>
			<% if toppings == pizaz[4].last %>
				<%= toppings.insert(0, 'and ') %>
			<% elsif toppings != pizaz[4].last && toppings != pizaz[4][0]  %>
				<%= toppings += ", " %>
			<% else %>
				<%= toppings + " " %>
			<%end%>
		<%end%>
	<%end%>
	will be hot and ready for takeout. <br>
<%end%>
Your pizza will cost: $<%= prices %><br>
<input id="buttons" type = "button" value = "Restart" onClick = "location.href='/'">