<link rel="stylesheet" href="css/style.css">
<h1> Welcome to Argioligazolistrombolizambonioli's Pizzaria</h1>
<% if instorepickup == "no" %>
	<% pizza.each do |pizaz|%> 
	<%= pizaz[0] %> of: A <%= pizaz[1] %> pizza on a <%= pizaz[2] %> crust, with <%= pizaz[3].join %>, <%= pizaz[4].join %>,  
		<% pizaz[5].each do |toppings| %>
			<% if toppings == pizaz[5].last %>
				<%= (toppings + ".").insert(0, 'and ') %>
			<% elsif toppings != pizaz[5].last && toppings != pizaz[4][0]  %>
				<%= toppings += ", " %>
			<% else %>
				<%= toppings + ", " %>
			<%end%>
		<%end%>
		<br>
	<%end%>
	<br>			will be delivered to <%= address.join %> <br>
			Your pizza will cost: $<%= prices + 4.50 %><br>
	<% else %>
	<% pizza.each do |pizaz|%> 
	<%= pizaz[0] %> of: A <%= pizaz[1] %> pizza on a <%= pizaz[2] %> crust, with <%= pizaz[3].join %>, <%= pizaz[4].join %>,  
		<% pizaz[5].each do |toppings| %>
			<% if toppings == pizaz[5].last %>
				<%= (toppings + ".").insert(0, 'and ') %>
			<% elsif toppings != pizaz[5].last && toppings != pizaz[4][0]  %>
				<%= toppings += ", " %>
			<% else %>
				<%= toppings + ", " %>
			<%end%>
		<%end%>
		<br>
	<%end%>
	<br>
	will be hot and ready for takeout. <br>
	Your pizza will cost: $<%= prices %><br>
<%end%>
<input id="buttons" type = "button" value = "Restart" onClick = "location.href='/'">