<b><em> <h1 style = "background-color:Tomato;"> Welcome to Argioligazolistrombolizambonioli's Pizzaria</em></b></h1>
<% if instorepickup == "no" %>
Your <%= size.join %> pizza on <%= bread.join%> bread, with <%= sauce.join %>, <%= cheese.join %> cheese, and 
<% toppings.each do |y| %>
	<% if y == toppings.last && y != toppings[0] %>
		<%= y.insert(0, 'and ') %>
	<% elsif y != toppings.last && y != toppings[0]  %>
		<%= y += ", " %>
	<% else %>
		<%= y + " " %>
	<%end%>
<%end%>
will be delivered to <%= address.join %>, thank you!
<% else %>
Your <%= size.join %> pizza on <%= bread.join%> bread, with <%= sauce.join %>, <%= cheese.join %> cheese, and 
<% toppings.each do |y| %>
	<% if y == toppings.last && y != toppings[0] %>
		<%= y.insert(0, 'and ') %>
	<% elsif y != toppings.last && y != toppings[0]  %>
		<%= y += ", " %>
	<% else %>
		<%= y + " " %>
	<%end%>
<%end%>
will be hot and ready to pick up in thirty minutes, thank you!
<%end%>