<link rel="stylesheet" href="css/style.css">
<h1> Welcome to Argioligazolistrombolizambonioli's Pizzaria</h1>
<% if instorepickup == "no" %>
	<% pizza.each do |pizaz|%> 
		A <%= pizaz[0] %> pizza on a <%= pizaz[1] %> crust, with <%= pizaz[2].join %>, <%= pizaz[3].join %>, 
		<% pizaz[4].each do |toppings| %>
			<% if toppings == pizaz[4].last %>
				<%= toppings.insert(0, 'and ') %>
			<% elsif toppings != pizaz[4].last && toppings != pizaz[4][0]  %>
				<%= toppings += ", " %>
			<% else %>
				<%= toppings + ", " %>
			<%end%>
		<%end%>
		<br>
	<%end%>
			will be delivered to <%= address.join %> <br>
			Your pizza will cost: $<%= prices + 4.50 %><br>
	<% else %>
	<% pizza.each do |pizaz|%> 
		A <%= pizaz[0] %> pizza on a <%= pizaz[1] %> crust, with <%= pizaz[2].join %>, <%= pizaz[3].join %>, 
		<% pizaz[4].each do |toppings| %>
			<% if toppings == pizaz[4].last %>
				<%= toppings.insert(0, 'and ') %>
			<% elsif toppings != pizaz[4].last && toppings != pizaz[4][0]  %>
				<%= toppings += ", " %>
			<% else %>
				<%= toppings + " " %>
			<%end%>
		<%end%>
	<%end%>
	will be hot and ready for takeout. <br>
	Your pizza will cost: $<%= prices %><br>
<%end%>
<input id="buttons" type = "button" value = "Restart" onClick = "location.href='/'">