<b><em> <h1 style = "background-color:Tomato;"> Welcome to Argioligazolistrombolizambonioli's Pizzaria</em></b></h1>
<br>
Here is the pizza you've selected: <br>
A <%= size.join %> pizza on <%= bread.join%> bread, with <%= sauce.join %>, <%= cheese.join %> cheese, and 
<% toppings.each do |y| %>
	<% if y == toppings.last %>
		<%= y.insert(0, 'and ') %>
	<% else %>
		<%= y += ", " %>
	<%end%>
<%end%>
on top.
Is this what you want? <br>
<form method = post action = '/verify'>
	<input type = 'radio' name = 'correct' id = 'yes'> Yes <br>
	<input type = 'radio' name = 'correct' id = 'no'> No <br>
	<input type="submit" value = 'Submit'>

</form>