<link rel="stylesheet" href="css/style.css">
<h1> Welcome to Argioligazolistrombolizambonioli's Pizzaria</h1>

<br>
Here is the pizza you've selected: <br>
	<% pizza.each do |pizaz|%> 
	<%= pizaz[0] %> of: A <%= pizaz[1] %> pizza on a <%= pizaz[2] %> crust, with <%= pizaz[3].join %>, <%= pizaz[4].join %>,  
		<% pizaz[5].each do |toppings| %>
			<% if toppings == pizaz[5].last %>
				<%= (toppings + ".").insert(0, 'and ') %>
			<% elsif toppings != pizaz[5].last && toppings != pizaz[4][0]  %>
				<%= toppings += ", " %>
			<% else %>
				<%= toppings + ", " %>
			<%end%>
		<%end%>
		<br>
	<%end%>
	<br>
If this pizza isn't what you want, go back! <br>
<form method = post action = '/verify'>
	<input type = 'hidden' name = 'pizza' value = '<%= pizza %>'>
	<input type="button" value="Go Back" onclick="history.back()"> <br>
	Or would you like to add another pizza to your order? <br>
	<input type="radio" name='addpizza' value = "Yes"> Yes <br>
	<input type="radio" name='addpizza' value = "No"checked> No <br>
	<input type='submit' value = 'Submit'>
</form>