<b><em> <h1 style = "background-color:Tomato;"> Welcome to Argioligazolistrombolizambonioli's Pizzaria</em></b></h1>
<br>
Here is the pizza you've selected: <br>
	<% pizza.each do |pizaz|%> 
		A <%= pizaz[0] %> pizza on a <%= pizaz[1] %> crust, with <%= pizaz[2].join %>, <%= pizaz[3].join %>, 
		<% pizaz[4].each do |toppings| %>
			<% if toppings == pizaz[4].last %>
				<%= (toppings + ".").insert(0, 'and ') %>
			<% elsif toppings != pizaz[4].last && toppings != pizaz[4][0]  %>
				<%= toppings += ", " %>
			<% else %>
				<%= toppings + ", " %>
			<%end%>
			<br>
		<%end%>
	<%end%>
If this pizza isn't what you want, go back! <br>
<form method = post action = '/verify'>
	<input type = 'hidden' name = 'pizza' value = '<%= pizza %>'>
	<input type="button" value="Go Back" onclick="history.back()"> <br>
	Or would you like to add another pizza to your order? <br>
	<input type="radio" name='addpizza' value = "Yes"> Yes <br>
	<input type="radio" name='addpizza' value = "No"checked> No <br>
	<input type='submit' value = 'Submit'>
</form>